h1 {color: rgb(48, 24, 15); font-family: 'helvetica', , monospace, Gadget, sans-serif; font-size: x-large;}

h2 {color: darkslategray; font-family: 'helvetica', Times, serif; font-size: large;}

p {color:darkslategray; font-family: 'Courier New', Courier, monospace; font-size: large;}

ol {color: darkslategray; font-family: 'Courier New', Courier, monospace; font-size: large;}
ol {color: darkslategray; font-family: 'Courier New', Courier, monospace; font-size: large;}
ol {margin: 0 0 0 50px;}
